& when (@media-common = true) {
    #magebig_newsletter {
        width: 100%;
        margin: 0 auto;
        border-radius: 3px;
        position: relative;
        .mfp-close {
            background-color: #000000;
            color: #ffffff;
            top: 12px;
            right: 12px;
            opacity: 1;
        }
        .field-recaptcha {
            margin-top: 10px;
        }
    }
    .newsletter-content {
        padding: 15px;
    }

    .newsletter-content .newsletter-inner {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 10;
    }

    .newsletter-content .newsletter-title h3 {
        margin: 40px 0 30px;
        font-size: 24px;
        text-transform: capitalize;
        font-weight: 400;
        span {
            color: #ff3300;
            font-weight: 500;
        }
    }

    .newsletter-content .newsletter_text {
        padding: 0 30px;
    }

    .newsletter-content .newsletter_text .text_desc {
        color: #666666;
        margin-bottom: 30px;
        padding: 0 7px;
    }

    .newsletter-content .input-box input {
        height: 44px;
        padding: 0 15px;
        width: 100%;
        text-align: center;
        color: #999999;
        border: 1px solid #d9d9d9;
    }

    .newsletter-content .input-box button {
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .not-show-popup {
        input {
            vertical-align: top;
            margin-top: 4px;
        }
    }

    #newsletter-validate-detail .field-recaptcha {
        margin-top: 10px;
    }

    @media (max-width: 767px) {
        #magebig_newsletter:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.5);
        }
        .newsletter-content .newsletter_text {
            padding: 0;
        }
        .newsletter-content .newsletter_text .text_desc {
            color: #000;
        }
    }
}
